.Home {
    background-color: #f0f4f8; 
    color: #333;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.Home-header {
    background-color: #004d99; 
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

.Home-intro, .Home-features, .Home-updates, .Home-footer {
    background-color: #ffffff;
    padding: 20px;
    
}

.Home-features {
    display: flex;
    gap: 20px;
}

.Home-features :hover {
    background-color: #e6f7ff; 
    cursor: pointer;
}

.feature {
    flex: 1;
    background-color: #e9ecef; 
    padding: 10px;
    
}

.feature h3 {
    color: #004d99;
}

.Home-updates ul {
    list-style-type: none;
    padding: 0;
}

.Home-updates li {
    margin-bottom: 10px;
}

.Home-footer {
    background-color: #73b7ff; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.Home-intro h2 {
    color: #004d99; 
}

.Home-updates h2 {
    color: #004d99; 
}

.Home-updates {
    background-color: #e6f2ff; 
    ; 
}
