.Sym {
    height: calc(100vh - 62px);
    width: 100vw; 
    background-color: #e6f7ff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}

.symptom-list, .disease-info {
    
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 45%; 
    height: 100%;
    box-sizing: border-box;
}

.symptom-list {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.symptom-list h2, .disease-info h2 {
    margin-bottom: 15px;
    color: #0073e6; 
    font-size: 1.8em;
}

.symptom-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #f0f8f8;
    border: 2px solid #0073e6;
    border-radius: 5px;
    padding: 12px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, border-color 0.3s;
}

.symptom-list button:hover {
    background-color: #ccefff; 
    border-color: #005b5b;
}

.symptom-list button.selected {
    background-color: #ff0000; 
    border-color: #005b5b;
    color: #ffffff;
}

.disease-info {
    padding: 20px;
}

.disease-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.disease-info li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    transition: background-color 0.3s;
}

.disease-info li:hover {
    background-color: #e0f7fa;
}
